$color-fondo: #fff;
$color-texto: #111;
$color-principal: #000;
$color-secundario: #f7f7f7;
$color-borde: #ddd;
$color-enlace: #fff;
$color-footer: #0b132b;

$fuente-base: sans-serif;
$radio-borde: 8px;